@(contacts: List[Application.Force.Contact])

@main {

    <h2>Salesforce Accounts</h2>

    <table class="table">
        <tr>
            <th>Account Name</th>
            <th>Owner Name</th>
            <th>Phone</th>
            <th>Contact Name</th>                                                      
            <th>Address</th>      
        </tr>
        @contacts.map { contact =>
            <tr>
                <td>@contact.Account.Name</td>                                                           
                <td>@contact.Account.Owner.Name</td>
                <td>@contact.Account.Phone</td>
                <td>@contact.Name</td>
                <td>@contact.Account.BillingStreet, @contact.Account.BillingCity, @contact.Account.BillingState, @contact.Account.BillingPostalCode,  @contact.Account.BillingCountry</td>                        
            </tr>
        }
    </table>

}
