@(accounts: List[Application.Force.Account])

@main {

    <h2>Salesforce Accounts</h2>

    <table class="table">
        <tr>
            <th>Account Name</th>
            <th>Contact Name</th>			
			<th>Account Owner</th>
			<th>Phone</th>            
        </tr>
        @accounts.map { account =>
            <tr>
				<td>@account.Name</td>
                <td>@account.ContactName</td>				
				<td>@account.AccountOwner</td>
				<td>@account.Phone</td>                
            </tr>
        }
    </table>

}