@(accounts: List[Application.Force.Account])

@main {

    <h2>Salesforce Complaints</h2>

    <div class="text-center">
            <button class="btn btn-primary btn-info btn-sx" type="button">Update</button>
            <button class="btn btn-primary btn-info btn-sx" type="button">Submit</button>
    </div>
    <br/>
    
    <div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th>Case Number</th>
            <th>Origin </th>
            <th>Status</th>	
            <th>Priority</th>
            <th>Category</th>
            <th>Sub Category</th>
            <th>Branch Address & Code</th>
            <th>Subject</th>		
            <th>Case Close Reason</th>
            <th>Case Owner</th>		            
        </tr>
        @accounts.map { account =>
            <tr>
				<td>@account.CaseNumber</td>                								
                <td>@account.Origin</td>  
                <td>@account.Status</td>      
                <td>@account.Priority</td>
                <td>@account.Type</td>
                <td>@account.SubType__c</td>
                <td>@account.Branch_Address__c @account.Branch_Code__c</td>
                <td>@account.Subject</td>
                <td>@account.Reason</td>
                <td>@account.Owner.Name</td>                												
            </tr>
        }
    </table>
</div>

}
